*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

.card {
    margin: 0 0 8px;
    padding: 16px;
    border: 1px solid #c5c5c5;
    padding-top: 30px;
}

.card::after {
    content: "";
    clear: both;
    display: table;
}

.card aside {
    float: left;
}

.card header {
    float: left;
}

.cardTitle {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
}

.cardEmail {
    color: #4F4F4F;
    font-size: 12px;
}

.avatar {
    display: block;
    margin-right: 16px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}